<ion-view title="Login" id="page5" style="background-color:#FAFAFA;" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 31px;"></div>
        <div class="">
            <img src="img/Ony47buEQcMljF98cYf4_troque-ja-final-.png" width="auto" height="100" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <form id="login-form1" class="list ">
            <div class="spacer" style="width: 300px; height: 31px;"></div>
            <ion-list id="login-list3" class=" ">
                <label class="item item-input " id="login-input1" name="username">
                    <input type="text" placeholder="username">
                </label>
                <label class="item item-input " id="login-input2" name="password">
                    <input type="password" placeholder="password">
                </label>
            </ion-list>
            <a ui-sref="tabs.troqueJ" id="login-button4" class=" button button-dark  button-block ">Log in</a>
            <div class="spacer" style="width: 300px; height: 20px;"></div>
            <a ui-sref="tabs.troqueJ" id="login-button6" class=" button button-royal  button-block icon ion-social-facebook icon-facebook">Log in with facebook</a>
        </form>
    </ion-content>
</ion-view>