<ion-view title="Math" id="page9" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 53px;"></div>
        <p id="math-markdown8" style="color:#000000;font-size:15px;text-align:center;" class=" ">Um de seus produtos foi combinado com
            <strong>Jogo Batman</strong>
        </p>
        <div class="spacer" style="width: 300px; height: 15px;"></div>
        <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div class="spacer" style="width: 300px; height: 15px;"></div>
        <form id="math-form2" class="list ">
            <p id="math-markdown9" style="color:#000000;font-size:15px;text-align:center;" class=" ">Conversar com combinação</p>
            <div class="spacer" style="width: 300px; height: 15px;"></div>
            <label class="item item-input " id="math-input3">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
    </ion-content>
</ion-view>