<ion-view title="My messages" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="myMessages-list2" class=" ">
            <ion-item class="item-avatar  " id="myMessages-list-item8" ui-sref="tabs.chat">
                <h2>Boaz Trindade</h2>
                <p>Batman Arkan City</p>
            </ion-item>
            <ion-item class="item-avatar  " id="myMessages-list-item9" ui-sref="tabs.chat">
                <h2>Wesley Safadão</h2>
                <p>Volkswagem Fusca</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>