<ion-view view-title="Account">
	<ion-content padding="true" class="has-header">
		<div class="profile text-center">
			<figure>
				<img src="img/adam.jpg" alt="">
			</figure>
			
			<p><strong>Bianca</strong>, São Paulo - SP
			<br>Telefone: (11) 98765-4321</p>
		</div>

		<ion-list id="profile-list1">
			<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="items in accountItems" type="item-text-wrap">
				<img ng-src="{{items.photo}}">
				<h2>{{items.name}}</h2>
				<p>{{items.category}} - {{items.description}}</p>

				<ion-option-button class="button-assertive" ng-click="remove(items)">
					Delete
				</ion-option-button>
			</ion-item>
        </ion-list>
	</ion-content>
</ion-view>
