<ion-view view-title="Match">
	<ion-content class="padding">
		<div class="button-bar">
            <button id="troqueja-button1" class="button button-positive button-block">Games</button>
            <a ui-sref="tabs.home" id="troqueja-button2" class="button button-stable button-block">Collectibles</a>
        </div>

        <div class="match-items">
			<img ng-src="{{match[0].photo}}" width="100%" height="auto">
			<p class="match-items-description">{{match[0].description}}</p>
        </div>

		<div id="troqueja-button-bar1" class="button-bar">
			<a ui-sref="tabs.troqueJ" id="troqueJ2-button11" style="color:#FABE00;" class="button button-stable button-large button-block icon ion-refresh"></a>
			<a ui-sref="tabs.troqueJ" id="troqueJ2-button12" style="color:#FF0000;" class="button button-stable button-large button-block icon ion-close"></a>
			<a ui-sref="tabs.math" id="troqueJ2-button13" style="color:#55CF06;" class="button button-stable button-large button-block icon ion-heart"></a>
		</div>
	</ion-content>
</ion-view>
