<ion-view view-title="{{title}}" class="match" hide-back-button="true">
	<ion-content class="padding">
		<div class="button-bar categories-bar">
            <button class="button button-positive button-block">Games</button>
            <a ui-sref="tab.collectibles" class="button button-stable button-block">Collectibles</a>
        </div>

        <div class="match-items">
        	<figure>
				<img ng-src="{{items[1].photo}}">
			</figure>
			<p class="match-items-description">
				{{items[1].description}} <span ng-if="items[1].platform">- {{items[1].platform}}</span> 
			</p>
        </div>

		<div class="button-bar">
			<a ui-sref="tab.games" class="button button-stable button-large button-block icon ion-refresh"></a>
			<a ui-sref="tab.games" class="button button-stable button-large button-block icon ion-close"></a>
			<a ui-sref="tab.math" class="button button-stable button-large button-block icon ion-heart"></a>
		</div>
	</ion-content>
</ion-view>
