<ion-tabs class="tabs-icon-top tabs-color-active-positive">
	<ion-tab icon-off="ion-android-home" icon-on="ion-android-home" href="#/tab/games">
		<ion-nav-view name="tab-games"></ion-nav-view>
	</ion-tab>

	<ion-tab icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
		<ion-nav-view name="tab-chats"></ion-nav-view>
	</ion-tab>

	<ion-tab icon-off="ion-ios-contact-outline" icon-on="ion-ios-contact" href="#/tab/account">
		<ion-nav-view name="tab-account"></ion-nav-view>
	</ion-tab>
</ion-tabs>