<ion-view title="TroqueJá" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <div id="troqueJ2-button-bar5" class=" button-bar ">
            <button id="troqueJ2-button18" class=" button button-stable  button-block ">Games</button>
            <a ui-sref="tabs.troqueJ2" id="troqueJ2-button19" class=" button button-positive  button-block ">Collections</a>
        </div>
        <div class="">
            <img src="img/ifG3kRXmSV6psiQGiFxP_miniatura-escala-118-555001-MLB20254945915_032015-F.jpg" width="100%" height="" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 17px;"></div>
        <p id="troqueJ2-markdown7" style="color:#000000;font-size:16px;text-align:center;" class=" ">
            <strong>Volkswagem Fusca</strong>, miniatura</p>
        <div class="spacer" style="width: 300px; height: 14px;"></div>
        <div id="troqueJ2-button-bar3" class=" button-bar ">
            <a ui-sref="tabs.troqueJ" id="troqueJ2-button11" style="color:#FABE00;" class=" button button-stable button-large button-block icon ion-refresh "></a>
            <a ui-sref="tabs.troqueJ" id="troqueJ2-button12" style="color:#FF0000;" class=" button button-stable button-large button-block icon ion-close "></a>
            <a ui-sref="tabs.math" id="troqueJ2-button13" style="color:#55CF06;" class=" button button-stable button-large button-block icon ion-heart "></a>
        </div>
    </ion-content>
</ion-view>