<ion-view title="TroqueJá" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <div id="troqueJ-button-bar4" class=" button-bar ">
            <button id="troqueJ-button14" class=" button button-positive  button-block ">Games</button>
            <a ui-sref="tabs.troqueJ2" id="troqueJ-button16" class=" button button-stable  button-block ">Collections</a>
        </div>
        <div class="">
            <img src="img/41ukJMcUS9Ctc3giumt9_arkham_city_360_final1.jpg" width="auto" height="200" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 17px;"></div>
        <p id="troqueJ-markdown6" style="color:#000000;font-size:16px;text-align:center;" class=" ">
            <strong>Batman Arkan City</strong>, Xbox One</p>
        <div class="spacer" style="width: 300px; height: 14px;"></div>
        <div id="troqueJ-button-bar2" class=" button-bar ">
            <a ui-sref="tabs.troqueJ2" id="troqueJ-button8" style="color:#FABE00;" class=" button button-stable button-large button-block icon ion-refresh "></a>
            <a ui-sref="tabs.troqueJ2" id="troqueJ-button9" style="color:#FF0000;" class=" button button-stable button-large button-block icon ion-close "></a>
            <a ui-sref="tabs.math" id="troqueJ-button10" style="color:#55CF06;" class=" button button-stable button-large button-block icon ion-heart "></a>
        </div>
    </ion-content>
</ion-view>